.solved div.board_icon, .notsolved div.board_icon
{
	font-size: 200%;
	display: table-cell;
}

.solved div.board_icon
{
	color : #008000;
}

.notsolved div.board_icon
{
	color : #FF1919;
}

.solved, .buttonlist a.solved
{
	background-color: #F0F2DD !important;
	background-image:none;
}

.buttonlist a.solved
{
	border-color : #9ED54C;
}

.notsolved, .buttonlist a.notsolved
{
	background-color: #FEE  !important;
	background-image:none;
}

.buttonlist a.notsolved
{
	border-color : #C34;
}